<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
            <div class="font-medium text-3xl text-900">Productos / Servicios</div>
            <div class="flex align-items-center text-700 flex-wrap">
                <div class="mr-5 flex align-items-center mt-3">
                </div>
            </div>
        </div>
        <div class="mt-3 lg:mt-0">
            <button pButton pRipple label="Crear" (click)="openModal()" *ngIf="permisoCrear" class="p-button-outlined mr-2" icon=""></button>
            <!--button pButton pRipple label="Exportar" icon="pi pi-check"></button-->

        </div>
    </div>
</div>
<div class="grid mt-3">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-table [value]="productsData" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="scroll" [loading]="loadingTable" [rows]="8" [globalFilterFields]="['nombre','medida','precio','cantidad', 'inventario','acciones']"  selectionMode="multiple" [rowHover]="true" dataKey="usuario" (onPage)="onPage($event)">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span></span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <form [formGroup]="formSearch" >
                                <div class="p-inputgroup">
                                    <input formControlName="search" pInputText type="text" placeholder="Buscar..." (keyup.enter)="buscarPorTecla($event)"  (input)="searchInput()"  class="w-full sm:w-auto"/>
                                    <button type="button" pButton pRipple   class="pi pi-search" (click)="search()"></button>
                                </div>
                            </form>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Medida</th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Inventario</th>
                        <th>Visible venta</th>
                        <th>Visible recetas</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.nombre | titlecase}}</td>
                        <td>{{ product.medida.nombre }}</td>
                        <td>{{ product.precio | number}}</td>
                        <td>{{ product.tipo_producto=='1'?'Producto':'Servicio' }}</td>
                        <td>{{ product.inventario.nombre }}</td>
                        <td>{{ product.visible_venta?'Si':'No' }}</td>
                        <td>{{ product.visible_receta?'Si':'No' }}</td>
                        <td class="flex gap-2">
                            <p-button (click)="editProduct(product.id)" *ngIf="permisoActualizar" icon="pi pi-pencil" severity="info"></p-button>
                            <div *ngIf="permisoDetalle || permisoImpuesto">
                                <p-button *ngIf="product.tipo_producto=='1'" icon="pi pi-cog" severity="danger"  [routerLink]="product.id+'/impuesto'"></p-button>
                            </div>
                            <p-button (click)="confirmDelete(product.id)" *ngIf="permisoEliminar" icon="pi pi-trash" severity="danger"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Cargando informacion porfavor espere ...</td>
					</tr>
				</ng-template>
            </p-table>
            <br>
            <div style="text-align: center;">
                <span class="p-buttonset">
                    <button pButton pRipple label="" icon="pi pi-arrow-left"   [disabled]="!disablePageLeft" (click)="leftTable()" ></button>
                    <button pButton pRipple [label]="pageActual" ></button>
                    <button pButton pRipple label="" icon="pi pi-arrow-right" [disabled]="!disablePageRight" (click)="rightTable()"></button>
                </span>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Nuevo Producto" [(visible)]="visibleModalProducto" [modal]="true" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <form [formGroup]="formCreateProduct" (ngSubmit)="submitCreate()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Nombre</label>
                    <input type="text"  pInputText class="w-full mb-3 border-round-3xl" formControlName="nombre">
                    <div style="color: red;" *ngIf="formCreateProduct.get('nombre').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" >
                    <label>Tipo</label>
                    <p-dropdown [options]="tipo" (onChange)="onChangeTipoProductoCrear()" formControlName="tipo_producto"  optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateProduct.get('tipo_producto').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicio">
					<label>Medida</label>
					<p-dropdown [options]="medida" optionLabel="nombre" formControlName="medida_id" ></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateProduct.get('medida_id').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicio">
                    <label>Cantidad</label>
                    <input type="number" min="0" formControlName="cantidad"   pInputText class="w-full mb-3 border-round-3xl" >
                    <div style="color: red;" *ngIf="formCreateProduct.get('cantidad').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicio">

                    <label>
                        <p-tag icon="pi pi-info-circle" [pTooltip]="cantidadLimitadaPlaceholder"></p-tag>
                        Cantidad  Limitada 
                        
                    </label>

                    <p-dropdown [options]="limiteCantidad"   formControlName="limite_cantidad"  optionLabel="nombre"  ></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
					<label>Inventario</label>
					<p-dropdown [options]="inventario" formControlName="inventario_id"  optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateProduct.get('inventario_id').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Precio</label>
                    <input type="number" min="1" pInputText class="w-full mb-3 border-round-3xl" formControlName="precio">
                    <div style="color: red;" *ngIf="formCreateProduct.get('precio').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicio">
                    <label>Stock mínimo</label>
                    <input type="number" min="0" pInputText class="w-full mb-3 border-round-3xl" formControlName="stop_minimo">
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicio">
                    <label>Precio base</label>
                    <input type="number" min="0" pInputText class="w-full mb-3 border-round-3xl" formControlName="precio_base">
                    <div style="color: red;" *ngIf="formCreateProduct.get('precio_base').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" >
                    <label>Visible venta</label>
                    <p-dropdown [options]="visibleVenta"  (onChange)="onVisibleVentaChange()" formControlName="visible_venta"  optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateProduct.get('visible_venta').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicio">
                    <label>Visible receta</label>
                    <p-dropdown [options]="visibleReceta" (onChange)="onVisibleRecetaChange()" formControlName="visible_receta"  optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateProduct.get('visible_receta').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <p-fileUpload name="imsgenes[]"  #fileUploadCreate chooseLabel="Seleccionar" [showUploadButton]="false" cancelLabel="Cancelar" accept="image/*"  [maxFileSize]="1000000" (onRemove)="onRemove($event)" (onClear)="onRemove($event)" (onSelect)="onSelect($event)"></p-fileUpload>
                </div>
                <div class="field col-12 md:col-12">
					<label>Descripción</label>
                    <textarea formControlName="descripcion" pInputTextarea    rows="3" cols="20"></textarea>
 				</div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Crear Producto" icon="pi pi-fw" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit" [disabled]="formCreateProduct.invalid"></button>
                </div>
            </div>
            <br>
        </form>
	</div>
</p-dialog>

<p-dialog header="Editar Producto" [(visible)]="visibleModalProductoEditar"  [modal]="true" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <form [formGroup]="formEditProduct" (ngSubmit)="submitUpdate()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Nombre</label>
                    <input type="text"  pInputText class="w-full mb-3 border-round-3xl" formControlName="nombre">
                    <div style="color: red;" *ngIf="formEditProduct.get('nombre').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Tipo</label>
                    <p-dropdown [options]="tipo" formControlName="tipo_producto"  (onChange)="onChangeTipoProductoEditar()" optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formEditProduct.get('tipo_producto').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicioEditar">
					<label>Medida</label>
					<p-dropdown [options]="medida" optionLabel="nombre" formControlName="medida_id" ></p-dropdown>
                    <div style="color: red;" *ngIf="formEditProduct.get('medida_id').hasError('required')">Campo requerido</div>
                </div>
                <!-- <div class="field col-12 md:col-6" *ngIf="visibleServicioEditar">
                    <label>Cantidad</label>
                    <input disabled type="number" min="0" formControlName="cantidad"   pInputText class="w-full mb-3 border-round-3xl" >
                    <div style="color: red;" *ngIf="formEditProduct.get('cantidad').hasError('required')">Campo requerido</div>
                </div> -->
                <div class="field col-12 md:col-6" *ngIf="visibleServicioEditar">
                    <label>                        
                        <p-tag icon="pi pi-info-circle" [pTooltip]="cantidadLimitadaPlaceholder"></p-tag>
                        Cantidad limitada
                    </label>
                    <p-dropdown [options]="limiteCantidad" formControlName="limite_cantidad"  optionLabel="nombre"  ></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
					<label>Inventario</label>
					<p-dropdown [options]="inventario" formControlName="inventario_id"  optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formEditProduct.get('inventario_id').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Precio</label>
                    <input type="number" min="1"  pInputText class="w-full mb-3 border-round-3xl" formControlName="precio">
                    <div style="color: red;" *ngIf="formEditProduct.get('precio').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicioEditar">
                    <label>Stock mínimo</label>
                    <input type="number" min="0"  pInputText class="w-full mb-3 border-round-3xl" formControlName="stop_minimo">
                </div>
                <div class="field col-12 md:col-6" *ngIf="visibleServicioEditar">
                    <label>Precio base</label>
                    <input type="number" min="0"  pInputText class="w-full mb-3 border-round-3xl" formControlName="precio_base">
                    <div style="color: red;" *ngIf="formEditProduct.get('precio_base').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6" >
                    <label>Visible venta</label>
                    <p-dropdown [options]="visibleVenta" formControlName="visible_venta" (onChange)="onVisibleVentaChangeEdit()"  optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formEditProduct.get('visible_venta').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6"  *ngIf="visibleServicioEditar">
                    <label>Visible receta</label>
                    <p-dropdown [options]="visibleReceta" formControlName="visible_receta" (onChange)="onVisibleRecetaChangeEdit()" optionLabel="nombre"  ></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateProduct.get('visible_receta').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <p-fileUpload name="imsgenes[]" #fileUpload chooseLabel="Seleccionar" [showUploadButton]="false" cancelLabel="Cancelar" accept="image/*"  [maxFileSize]="1000000"  (onRemove)="onRemove($event)" (onClear)="onRemove($event)" (onSelect)="onSelect($event)"></p-fileUpload>
                </div>
                <div class="field col-12 md:col-12">
					<label>Descripción</label>
                    <textarea formControlName="descripcion" pInputTextarea    rows="3" cols="20"></textarea>
 				</div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Editar Producto" icon="pi pi-fw pi-star" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit" [disabled]="formEditProduct.invalid"></button>
                </div>
            </div>
            <br>
        </form>
	</div>
</p-dialog>
