<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
            <div class="font-medium text-3xl text-900">Recibos externos</div>
            <div class="flex align-items-center text-700 flex-wrap">
                <div class="mr-5 flex align-items-center mt-3">
                    <!-- <span>{{ countRegisters }} Productos Creados</span> -->
                </div>
            </div>
        </div>
        <div class="mt-3 lg:mt-0">
            <button pButton pRipple label="Crear" (click)="openModal()" *ngIf="permisoCrear" class="p-button-outlined mr-2" icon=""></button>
            <!--button pButton pRipple label="Exportar" icon="pi pi-check"></button-->
        </div>
    </div>
</div>
<div class="grid mt-3">
    <div class="col-12">
        <div class="card px-3 py-3">
           <p-table [value]="externalSequenceData"  [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="scroll" [loading]="loadingTable" [rows]="8" [globalFilterFields]="['nombre','prefijo','fecha_inicio','fecha_final', 'secuencia_incial','secuencia_actual','secuencia_final','acciones']"  selectionMode="multiple" [rowHover]="true" dataKey="usuario" (onPage)="onPage($event)">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span></span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <form [formGroup]="formSearch" >
                                <div class="p-inputgroup">
                                    <input formControlName="search" (keyup.enter)="buscarPorTecla($event)" pInputText type="text" placeholder="Buscar..."   (input)="searchInput()"  class="w-full sm:w-auto"/>
                                    <button type="button" pButton pRipple   class="pi pi-search" (click)="search()"></button>
                                </div>
                            </form>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Hotel</th>
                        <th>Prefijo</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Recibo inicial</th>
                        <th>Recibo actual</th>
                        <th>Recibo final</th>
                        <th>Tipo operación</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-externalSequence>
                    <tr>
                        <td>{{ externalSequence.hotel.nombre }}</td>
                        <td>{{ externalSequence.prefijo }}</td>
                        <td>{{ externalSequence.fecha_inicio | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ externalSequence.fecha_final | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ externalSequence.secuencia_incial }}</td>
                        <td>{{ externalSequence.secuencia_actual }}</td>
                        <td>{{ externalSequence.secuencia_final }}</td>
                        <td>{{ externalSequence.tipo_operacion?.nombre }}</td>
                        <td class="flex gap-2">
                            <p-button (click)="editExternalSequence(externalSequence.id)" *ngIf="permisoActualizar" icon="pi pi-pencil" severity="info"></p-button>
                            <p-confirmDialog></p-confirmDialog>
                            <p-button (click)="confirmDelete(externalSequence.id)" *ngIf="permisoEliminar"  icon="pi pi-trash" severity="danger"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Cargando informacion porfavor espere ...</td>
					</tr>
				</ng-template>
            </p-table>
            <br>
            <div style="text-align: center;">
                <span class="p-buttonset">
                    <button pButton pRipple label="" icon="pi pi-arrow-left"   [disabled]="!disablePageLeft" (click)="leftTable()" ></button>
                    <button pButton pRipple [label]="pageActual" ></button>
                    <button pButton pRipple label="" icon="pi pi-arrow-right" [disabled]="!disablePageRight" (click)="rightTable()"></button>
                </span>
            </div>
        </div>
    </div>
</div>
<!--Crear-->
<p-dialog header="Crear Recibo Externo" [(visible)]="visibleModalExternalSequence" [modal]="true" [style]="{ width: '95vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <form [formGroup]="formCreateExternalSequence" (ngSubmit)="submitCreate()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Hotel</label>
                    <p-dropdown [options]="hotel" optionLabel="nombre" formControlName="hotel_id"></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('hotel_id').hasError('required') && formCreateExternalSequence.get('hotel_id').touched">
                        Campo requerido
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Tipo operación</label>
                    <p-dropdown [options]="tipoOperacion" optionLabel="nombre" formControlName="tipo_operacion_id"></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('tipo_operacion_id').hasError('required') && formCreateExternalSequence.get('tipo_operacion_id').touched">
                        Campo requerido
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Prefijo</label>
                    <input type="text"  pInputText class="w-full mb-3 border-round-3xl" formControlName="prefijo">
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('prefijo').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Fecha inicio</label>
                    <p-calendar formControlName="fecha_inicio" class="w-full mb-3 border-round-3xl" [showIcon]="true" [maxDate]="formCreateExternalSequence.get('fecha_final').value"></p-calendar>
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('fecha_inicio').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Fecha final</label>
                    <p-calendar formControlName="fecha_final" class="w-full mb-3 border-round-3xl" [showIcon]="true" [minDate]="formCreateExternalSequence.get('fecha_inicio').value " ></p-calendar>
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('fecha_final').hasError('required')">Campo requerido</div>
                    <p-message severity="error" class="padding" text="La fecha final debe ser mayor a la inicial"
                     *ngIf="!(formCreateExternalSequence.get('fecha_final').value > formCreateExternalSequence.get('fecha_inicio').value) && formCreateExternalSequence.get('fecha_final').value!= null" >
                    </p-message>

                </div>
                <div class="field col-12 md:col-6">
                    <label>Recibo inicial</label>
                    <input type="number" min="0" pInputText class="w-full mb-3 border-round-3xl" formControlName="secuencia_incial">
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('secuencia_incial').hasError('required')">Campo requerido</div>
                    <p-message severity="error" class="padding" text="El Recibo inicial no puede ser mayor al Recibo actual "
                     *ngIf="esMayor(formCreateExternalSequence.get('secuencia_incial').value, formCreateExternalSequence.get('secuencia_actual').value)" >
                    </p-message>

                </div>
                <div class="field col-12 md:col-6">
                    <label>Recibo actual</label>
                    <input type="number" min="0" pInputText class="w-full mb-3 border-round-3xl" formControlName="secuencia_actual">
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('secuencia_actual').hasError('required')">Campo requerido</div>
                     <p-message severity="error" class="padding" text="El Recibo actual no puede ser mayor al recibo final"
                     *ngIf="esMayor(formCreateExternalSequence.get('secuencia_actual').value, formCreateExternalSequence.get('secuencia_final').value)" >
                    </p-message>

                </div>
                <div class="field col-12 md:col-6">
                    <label>Recibo final</label>
                    <input type="number" min="0" pInputText class="w-full mb-3 border-round-3xl" formControlName="secuencia_final">
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('secuencia_final').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Crear Recibo Externo" icon="" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"
                    [disabled]="esMayor(formCreateExternalSequence.get('secuencia_incial').value, formCreateExternalSequence.get('secuencia_actual').value)
                    || esMayor(formCreateExternalSequence.get('secuencia_actual').value, formCreateExternalSequence.get('secuencia_final').value)
                    || !formCreateExternalSequence.valid
                    || !(formCreateExternalSequence.get('fecha_final').value > formCreateExternalSequence.get('fecha_inicio').value)
                    "
                    ></button>
                </div>
            </div>
            <br>
        </form>
	</div>
</p-dialog>
<!--Editar-->
<p-dialog header="Editar Recibo Externo" [(visible)]="visibleModalExternalSequenceEditar"  [modal]="true" [style]="{ width: '95vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <form [formGroup]="formEditExternalSequence" (ngSubmit)="submitUpdate()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
					<label>Hotel</label>
					 <p-dropdown [options]="hotel" optionLabel="nombre" formControlName="hotel_id" ></p-dropdown>
                     <div style="color: red;" *ngIf="formEditExternalSequence.get('hotel_id').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Tipo operación</label>
                    <p-dropdown [options]="tipoOperacion" optionLabel="nombre" formControlName="tipo_operacion_id"></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateExternalSequence.get('tipo_operacion_id').hasError('required') && formCreateExternalSequence.get('tipo_operacion_id').touched">
                        Campo requerido
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Prefijo</label>
                    <input type="text"  pInputText class="w-full mb-3 border-round-3xl" formControlName="prefijo">
                    <div style="color: red;" *ngIf="formEditExternalSequence.get('prefijo').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Fecha inicio</label>
                    <p-calendar formControlName="fecha_inicio" class="w-full mb-3 border-round-3xl"  dateFormat="yy/mm/dd" [showIcon]="true"   ></p-calendar>
                    <div style="color: red;" *ngIf="formEditExternalSequence.get('fecha_inicio').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Fecha final</label>
                    <p-calendar formControlName="fecha_final" class="w-full mb-3 border-round-3xl"  dateFormat="yy/mm/dd" [showIcon]="true" ></p-calendar>
                    <div style="color: red;" *ngIf="formEditExternalSequence.get('fecha_final').hasError('required')">Campo requerido</div>
                    <p-message severity="error" class="padding" text="La fecha inicial y final no pueden ser iguales"
                     *ngIf="!(formEditExternalSequence.get('fecha_final').value > formEditExternalSequence.get('fecha_inicio').value) && formEditExternalSequence.get('fecha_final').value!=null" >
                    </p-message>

                </div>
                <div class="field col-12 md:col-6">
                    <label>Recibo inicial</label>
                    <input type="number" min="0"  pInputText class="w-full mb-3 border-round-3xl" formControlName="secuencia_incial">
                    <div style="color: red;" *ngIf="formEditExternalSequence.get('secuencia_incial').hasError('required')">Campo requerido</div>
                    <p-message severity="error" class="padding" text="El Recibo inicial no puede ser mayor al Recibo actual"
                     *ngIf="esMayor(formEditExternalSequence.get('secuencia_incial').value, formEditExternalSequence.get('secuencia_actual').value)" >
                    </p-message>

                </div>
                <div class="field col-12 md:col-6">
                    <label>Recibo actual</label>
                    <input type="number" min="0"  pInputText class="w-full mb-3 border-round-3xl" formControlName="secuencia_actual">
                    <div style="color: red;" *ngIf="formEditExternalSequence.get('secuencia_actual').hasError('required')">Campo requerido</div>
                     <p-message severity="error" class="padding" text="El Recibo actual no puede ser mayor al recibo final"
                     *ngIf="esMayor(formEditExternalSequence.get('secuencia_actual').value, formEditExternalSequence.get('secuencia_final').value)" >
                    </p-message>

                </div>
                <div class="field col-12 md:col-6">
                    <label>Recibo final</label>
                    <input type="number" min="0"  pInputText class="w-full mb-3 border-round-3xl" formControlName="secuencia_final">
                    <div style="color: red;" *ngIf="formEditExternalSequence.get('secuencia_final').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Editar Recibo Externo" icon="" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"
                    [disabled]="esMayor(formEditExternalSequence.get('secuencia_incial').value, formEditExternalSequence.get('secuencia_actual').value)
                    || esMayor(formEditExternalSequence.get('secuencia_actual').value, formEditExternalSequence.get('secuencia_final').value)
                    || !formEditExternalSequence.valid
                    || !(formEditExternalSequence.get('fecha_final').value > formEditExternalSequence.get('fecha_inicio').value)
                    "
                    ></button>
                </div>
            </div>
            <br>
        </form>
	</div>
</p-dialog>
