
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
            <div class="font-medium text-3xl text-900">Abrir y cerrar cajas</div>
            <div class="flex align-items-center text-700 flex-wrap">
            </div>
        </div>
        <div class="mt-3 lg:mt-0">
            <button pButton pRipple label="Abrir Caja"  (click)="abrirCaja()" class="p-button-outlined mr-2" ></button>
            <!--button pButton pRipple label="Exportar" icon="pi pi-check"></button-->
        </div>
    </div>
</div>
<div class="grid mt-3">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-table [value]="detailWallets" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="scroll" [loading]="loadingTable" [rows]="8" [globalFilterFields]="['nombre','medida','precio','cantidad', 'inventario','acciones']"  selectionMode="multiple" [rowHover]="true" dataKey="usuario" (onPage)="onPage($event)">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0"></h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <form [formGroup]="formSearch" >
                                <div class="p-inputgroup">
                                    <input formControlName="search" (input)="searchInput()" (keyup.enter)="buscarPorTecla($event)" pInputText type="text" placeholder="Buscar..."   (input)="searchInput()"  class="w-full sm:w-auto"/>
                                    <button type="button" pButton pRipple   class="pi pi-search" (click)="search()"></button>
                                </div>
                                    <!--i class="pi pi-search"></i>
                                    <input formControlName="search" pInputText type="text" placeholder="Buscar..."  (input)="search(dt)" class="w-full sm:w-auto"/-->
                            </form>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre de caja</th>
                        <th>Saldo inicial</th>
                        <th>Saldo final</th>
                        <th>Diferencia</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cajaControl>
                    <tr>
                        <td>{{ cajaControl.caja.nombre }}</td>
                        <td>$ {{ cajaControl.abrir_saldo | number }}</td>
                        <td>$ {{ cajaControl.cierre_saldo?(cajaControl.cierre_saldo  | number ):(0  | number )   }}</td>
                        <td>$ {{ cajaControl.diferencia?(cajaControl.diferencia  | number ):(0  | number )  }}</td>
                        <td> {{ cajaControl.caja.tipo_cajas.nombre }}</td>
                        <td> {{ cajaControl.descripcion }}</td>
                        <td *ngIf=" cajaControl.estado=='1'">{{'Abierta'}}</td>
                        <td *ngIf=" cajaControl.estado=='2'">{{'Cerrada'}}</td>
                        <td *ngIf=" cajaControl.estado=='0'">{{'Anulada'}}</td> 
                        <td class="flex gap-2" >
                            <p-button (click)="verDetalleCaja(cajaControl)" label="Ver" severity="danger"></p-button>
                            <p-button (click)="confirmDelete(cajaControl.id)" icon="pi pi-trash" severity="danger"></p-button>
                         </td> 

                    </tr>
                </ng-template>
            </p-table>
            <br>
            <div style="text-align: center;">
                <span class="p-buttonset">
                    <button pButton pRipple label="" icon="pi pi-arrow-left"   [disabled]="!disablePageLeft" (click)="leftTable()" ></button>
                    <button pButton pRipple [label]="pageActual" ></button>
                    <button pButton pRipple label="" icon="pi pi-arrow-right" [disabled]="!disablePageRight" (click)="rightTable()"></button>
                </span>
            </div>
        </div>
    </div>
</div>
