<ngx-spinner type="ball-scale-multiple" fullScreen="true" type="true">

</ngx-spinner>
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-center flex-column lg:flex-row">
        <button pButton pRipple label="" [routerLink]="'/dashboard/admin/wallets/detail'" class="p-button-outlined mr-4" icon="pi pi-arrow-left"></button>
        <div class="font-medium text-3xl text-900">Configurar caja</div>
    </div>
</div>

<div class="card mt-3">
        <p-toolbar>
            <form [formGroup]="form" (ngSubmit)="abrirCaja()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label>Nombre caja abrir</label>
                        <input type="text" pInputText class="w-full mb-3 border-round-3xl" formControlName="nombreCaja">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Usuario</label>
                        <input type="text" pInputText class="w-full mb-3 border-round-3xl" formControlName="usuario">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Base</label>
                        <input type="text" pInputText class="w-full mb-3 border-round-3xl" formControlName="base">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Fecha apertura</label>
                        <input type="text" pInputText class="w-full mb-3 border-round-3xl" formControlName="fecha">
                    </div>
                    <div class="field col-12 md:col-12">
                        <button pButton pRipple label="Abrir Caja" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                    </div>
                </div>
            </form>
        </p-toolbar>
</div>
