<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
            <div class="font-medium text-3xl text-900">Recetas</div>
        </div>
        <div class="mt-3 lg:mt-0">
            <button pButton pRipple label="Crear" (click)="openModal()" *ngIf="permisoCrear" class="p-button-outlined mr-2" icon=""></button>
            <!--button pButton pRipple label="Exportar" icon="pi pi-check"></button-->
        </div>
    </div>
</div>
<div class="grid mt-3">
    <div class="col-12">
        <div class="card px-3 py-3">
           <p-table [value]="recipesData"  [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="scroll" [loading]="loadingTable" [rows]="8" [globalFilterFields]="['nombre','Hotel','acciones']"  selectionMode="multiple" [rowHover]="true" dataKey="usuario" (onPage)="onPage($event)">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span></span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <form [formGroup]="formSearch" >
                                <div class="p-inputgroup">
                                    <input formControlName="search" pInputText type="text" placeholder="Buscar..."  (keyup.enter)="buscarPorTecla($event)" (input)="searchInput()"  class="w-full sm:w-auto"/>
                                    <button type="button" pButton pRipple   class="pi pi-search" (click)="search()"></button>
                                </div>
                                    <!--i class="pi pi-search"></i>
                                    <input formControlName="search" pInputText type="text" placeholder="Buscar..."  (input)="search(dt)" class="w-full sm:w-auto"/-->
                            </form>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Hotel</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-recipes>
                    <tr>
                        <td>{{ recipes.hotel.nombre }}</td>
                        <td>{{ recipes.nombre }} </td>
                        <td>{{ recipes.precio | currency:'COP':'':'1.0-0'}}</td>
                        <td>{{ recipes.descripcion }}</td>
                        <td class="flex gap-2">
                            <p-button (click)="editRecipes(recipes.id)" *ngIf="permisoActualizar" icon="pi pi-pencil" severity="info"></p-button>
                            <p-button (click)="redirectToRecipesProducts(recipes.id)" *ngIf="permisoActualizar" icon="pi pi-cog" severity="info"></p-button>
                            <p-button (click)="confirmDelete(recipes.id)" *ngIf="permisoEliminar" icon="pi pi-trash" severity="danger"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Cargando informacion porfavor espere ...</td>
					</tr>
				</ng-template>
            </p-table>
            <br>
            <div style="text-align: center;">
                <span class="p-buttonset">
                    <button pButton pRipple label="" icon="pi pi-arrow-left"   [disabled]="!disablePageLeft" (click)="leftTable()" ></button>
                    <button pButton pRipple [label]="pageActual" ></button>
                    <button pButton pRipple label="" icon="pi pi-arrow-right" [disabled]="!disablePageRight" (click)="rightTable()"></button>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Crear -->
<p-dialog header="Crear Receta" [(visible)]="visibleModalRecipes" [modal]="true" [style]="{ width: '95vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <form [formGroup]="formCreateRecipes" (ngSubmit)="submitCreate()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Hotel</label>
                    <p-dropdown [options]="hotel" optionLabel="nombre" formControlName="hotel_id"></p-dropdown>
                    <div style="color: red;" *ngIf="formCreateRecipes.get('hotel_id').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Nombre</label>
                    <input type="text"  pInputText class="w-full mb-3 border-round-3xl" formControlName="nombre">
                    <div style="color: red;" *ngIf="formCreateRecipes.get('nombre').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Precio</label>
                    <input type="number" min="1" pInputText class="w-full mb-3 border-round-3xl" formControlName="precio">
                    <div style="color: red;" *ngIf="formCreateRecipes.get('precio').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <label>Descripción</label>
                    <textarea type="text" pInputTextarea rows="3" cols="20" formControlName="descripcion"></textarea>
                    <div style="color: red;" *ngIf="formCreateRecipes.get('descripcion').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <button [disabled]="formCreateRecipes.invalid" pButton pRipple label="Crear Receta" icon="" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
            <br>
        </form>
	</div>
</p-dialog>
<p-dialog header="Editar Recetas" [(visible)]="visibleModalRecipesEditar"  [modal]="true" [style]="{ width: '95vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <form [formGroup]="formEditRecipes" (ngSubmit)="submitUpdate()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
					<label>Hotel</label>
					 <p-dropdown [options]="hotel" optionLabel="nombre" formControlName="hotel_id" ></p-dropdown>
                     <div style="color: red;" *ngIf="formEditRecipes.get('hotel_id').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Nombre</label>
                    <input type="text"  pInputText class="w-full mb-3 border-round-3xl" formControlName="nombre">
                    <div style="color: red;" *ngIf="formEditRecipes.get('nombre').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Precio</label>
                    <input type="number" min="1"  pInputText class="w-full mb-3 border-round-3xl" formControlName="precio">
                    <div style="color: red;" *ngIf="formEditRecipes.get('precio').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <label>Descripción</label>
                    <textarea type="text" pInputTextarea rows="3" cols="20" formControlName="descripcion"></textarea>
                    <div style="color: red;" *ngIf="formEditRecipes.get('descripcion').hasError('required')">Campo requerido</div>
                </div>
                <div class="field col-12 md:col-12">
                    <button [disabled]="formEditRecipes.invalid" pButton pRipple label="Editar Receta" icon="" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
                </div>
            </div>
            <br>
        </form>
	</div>
</p-dialog>

