<p-toast></p-toast>
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
            <div class="font-medium text-3xl text-900">Usuarios</div>
            <!-- <div class="flex align-items-center text-700 flex-wrap">
                <div class="mr-5 flex align-items-center mt-3">
                    <i class="pi pi-users mr-2"></i>
                    <span>{{ totalUsers }} Usuarios Creados</span>
                </div>
            </div> -->
        </div>
        <div class="mt-3 lg:mt-0">
            <button pButton pRipple label="Crear" (click)="openNew()" *ngIf="permisoCrear" class="p-button-outlined mr-2"></button>
        </div>
    </div>
</div>
<div class="grid mt-3">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="scroll" [loading]="loadingTable" [rows]="8" [globalFilterFields]="['nombre','medida','precio','cantidad', 'inventario','acciones']"  selectionMode="multiple" [rowHover]="true" dataKey="usuario" (onPage)="onPage($event)">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span></span>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <form [formGroup]="formSearch" >
                                <div class="p-inputgroup">
                                    <input formControlName="search"  (keyup.enter)="buscarPorTecla($event)" pInputText type="text" placeholder="Buscar..."   (input)="searchInput()"  class="w-full sm:w-auto"/>
                                    <button type="button" pButton pRipple   class="pi pi-search" (click)="search()"></button>
                                </div>
                                    <!--i class="pi pi-search"></i>
                                    <input formControlName="search" pInputText type="text" placeholder="Buscar..."  (input)="search(dt)" class="w-full sm:w-auto"/-->
                            </form>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{ user.usuario }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.estado == 1? "Activo" : "Inactivo" }}</td>
                        <td>{{ getRolName(user.rol_id) }}</td>
                        <td class="flex gap-2">
                            <p-button (click)="getAUser(user.id)" *ngIf="permisoActualizar" icon="pi pi-pencil" severity="info"></p-button>
                            <p-button [routerLink]="'usersHotel/'+user.id" icon="pi pi-cog" *ngIf="permisoAsignarHotel" severity="warning"></p-button>
                            <p-button (click)="confirmDelete(user.id)" *ngIf="permisoEliminar" icon="pi pi-trash" severity="danger"></p-button>

                            <p-confirmDialog></p-confirmDialog>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
            <div style="text-align: center;">
                <span class="p-buttonset">
                    <button pButton pRipple label="" icon="pi pi-arrow-left"   [disabled]="!disablePageLeft" (click)="leftTable()" ></button>
                    <button pButton pRipple [label]="pageActual" ></button>
                    <button pButton pRipple label="" icon="pi pi-arrow-right" [disabled]="!disablePageRight" (click)="rightTable()"></button>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Crear nuevo usuario -->
<p-dialog header="Nuevo Usuario" [(visible)]="visible" [modal]="true" [style]="{ width: '95vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12">
        <form [formGroup]="formNuser" (ngSubmit)="newUser()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Usuario</label>
                    <input type="text" placeholder="Usuario" pInputText class="w-full mb-3 border-round-3xl" formControlName="usuario">
                </div>
                <div class="field col-12 md:col-6">
                    <label>Email</label>
                    <input id="email1" type="email" placeholder="Correo electrónico" pInputText class="w-full mb-3 border-round-3xl" formControlName="email">
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="state">Rol</label>
                    <p-dropdown
                        [options]="roles"
                        optionLabel="nombre"
                        formControlName="rol_id"
                        optionValue="id"
                        placeholder="Seleccione una opción"
                        [virtualScrollItemSize]="38"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="state">Super Admin</label>
                        <p-dropdown
                        [options]="opciones"
                        optionLabel="nombre"
                        formControlName="superadmin"
                        optionValue="value"
                        placeholder="Seleccione una opción"
                        ></p-dropdown>
                    </div>
                <div class="field col-12 md:col-6">
                    <label>Contraseña</label>
                    <input id="password" type="password" placeholder="Contraseña" pInputText class="w-full mb-3 border-round-3xl" formControlName="password">
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton pRipple label="Crear Usuario" icon="pi pi-user" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit" [disabled]="formNuser.invalid"></button>
                </div>
            </div>
        </form>
	</div>
</p-dialog>

<!-- Editar usuario -->
<p-dialog id="editU" header="Editar Usuario" [(visible)]="visibleModalEditar" [style]="{width: '95vw'}" [modal]="true" (onVisibleChange)="visibleModalEditar = !visibleModalEditar" [draggable]="false" [resizable]="false">
    <form [formGroup]="formEuser" (ngSubmit)="updateUser()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12">
                <input *ngIf="visibleModalEditar" type="text" hidden="hidden" [value]="userData.id" pInputText class="w-full mb-3 border-round-3xl" formControlName="id">
            </div>
            <div class="field col-12 md:col-6">
                <label>Usuario</label>
                <input *ngIf="visibleModalEditar" type="text" placeholder="{{userData.usuario}}" pInputText class="w-full mb-3 border-round-3xl" formControlName="usuario">
            </div>
            <div class="field col-12 md:col-6">
                <label>Email</label>
                <input *ngIf="visibleModalEditar" id="email1" type="email" placeholder="{{ userData.email }}" pInputText class="w-full mb-3 border-round-3xl" formControlName="email">
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="state">Rol</label>
                    <p-dropdown
                        [options]="roles"
                        optionLabel="nombre"
                        formControlName="rol_id"
                        optionValue="id"
                        placeholder="Seleccione una opción"
                        [virtualScrollItemSize]="38"
                    ></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="state">Super Admin</label>
                    <p-dropdown
                    [options]="opciones"
                    optionLabel="nombre"
                    formControlName="superadmin"
                    optionValue="value"
                    placeholder="Seleccione una opción"
                    ></p-dropdown>
            </div>
            <div class="field col-12 md:col-12">
                <button [disabled]="formEuser.invalid" pButton pRipple label="Editar Usuario" icon="pi pi-pencil" class="w-full bg-admin boder-admin mb-5 border-round-3xl" type="submit"></button>
            </div>
        </div>
    </form>
</p-dialog>
